<div class = "container">
  <div class = "row">
    <div class = "col-md-3">
        <p id="notice"></p>
　　<%= render 'books/list', book: @book, user: @user %>


    </div>
      <div class='col-md-8 offset-md-1'>
          <h1>Users</h1>
          <table>
            <thead>
              <tr>
                <th>
                  <p>image</p>
                </th>
                <th>
                  <p>name</p>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
              <tr>
                <th>
                  <% if current_user.profile_image.attached? %>
                    <%= image_tag current_user.profile_image, size: "100x100" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                </th>
                <th>
                  <span><%= user.name %></span>
                </th>
                <th>
                  <%= link_to "Show", user_path(user.id) %>
                </th>
              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
  </div>
</div>

