<h2>Editing Book</h2>
<%= form_with model: @book, local: true do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :opinion %><br />
    <%= f.text_field :body, autofocus: true %>
  </div>
  <%= f.submit "Update Book" %>
<% end %>
 <%= link_to "Show", book_path(@book.id) %>
 <%= link_to 'Back', books_path %>
